---
apiVersion: v1
baseDomain: {{ domain }}
metadata:
  name: {{ cluster_name }}
networking:
  networkType: OVNKubernetes
compute:
- name: worker
  architecture: amd64
  replicas: 0
controlPlane:
  name: master
  platform:
    baremetal: {}
  architecture: amd64
  replicas: 3
platform:
  baremetal:
    apiVIP: 10.0.0.127
    ingressVIP: 10.0.0.128
{% if bootstrap_os_image is defined %}
    bootstrapOSImage: "{{ bootstrap_os_image }}"
{% endif %}
    provisioningBridge: {{ provisioningBridge | default('provisioning') }}
    externalBridge: {{ externalBridge | default('baremetal') }}
    hosts:
{% for host in groups['okd_masters'] %}
    - name: master-{{ loop.index0 }}
      role: master
      bmc:
        username: {{ hostvars[host].bmc.username }}
        password: {{ hostvars[host].bmc.password }}
        address: {{ hostvars[host].bmc.address }}
      bootMACAddress: {{ hostvars[host].bootMACAddress }}
      bootMode: {{ hostvars[host].bootMode }}
      rootDeviceHints:
        hctl: {{ hostvars[host].rootDevice }}
{%   if experimental_networking | default(false) %}
      provisioningNetworkInterface: bond0
      networkConfig:
        {{ lookup('template', 'nmstate.yaml.j2', template_vars={ 'bootMACAddress': hostvars[host].bootMACAddress }) | from_yaml | to_nice_yaml(2) | indent(8) }}
{%   endif %}
{% endfor %}
pullSecret: {{ lookup('file', 'pull-secret-okd.json') | to_nice_json }}
{% if mirror_registry_ca is defined %}
additionalTrustBundle: |
  {{ mirror_registry_ca | indent(2) }}
imageContentSources:
- source: quay.io/openshift/okd
  mirrors:
  - provisioner.okd.slips.pl:8443/openshift/okd
- source: quay.io/openshift/okd-content
  mirrors:
  - provisioner.okd.slips.pl:8443/openshift/okd
{% endif %}
sshKey: '{{ ssh_key }}'
