---
apiVersion: v1
baseDomain: {{ base_domain }}
metadata:
  name: {{ cluster_name }}
networking:
  networkType: OVNKubernetes
  machineNetwork:
  - cidr: {{ baremetal_network_cidr | default('10.0.0.0/16') }}
compute:
- name: worker
  architecture: amd64
  replicas: 0
controlPlane:
  name: master
  platform:
    baremetal: {}
  architecture: amd64
  replicas: 3
platform:
  baremetal:
    apiVIP: {{ baremetal_network_cidr | default('10.0.0.0/16') | ansible.utils.ipaddr('127') | ansible.utils.ipaddr('address') }}
    ingressVIP: {{ baremetal_network_cidr | default('10.0.0.0/16') | ansible.utils.ipaddr('128') | ansible.utils.ipaddr('address') }}
{% if cluster_os_image is defined %}
    clusterOSImage: "{{ cluster_os_image }}"
{% endif %}
    provisioningBridge: {{ provisioningBridge | default('provisioning') }}
    provisioningDHCPRange: 172.22.0.64,172.22.0.95
    externalBridge: {{ externalBridge | default('baremetal') }}
    hosts:
{% for host in groups[master_group] %}
    - name: master-{{ loop.index0 }}
      role: master
      bmc:
        username: {{ hostvars[host].bmc.username }}
        password: {{ hostvars[host].bmc.password }}
        address: {{ hostvars[host].bmc.address }}
      bootMACAddress: {{ hostvars[host].bootMACAddress }}
      bootMode: {{ hostvars[host].bootMode }}
      rootDeviceHints:
        hctl: {{ hostvars[host].rootDevice }}
{%   if experimental_networking | default(false) %}
      provisioningNetworkInterface: bond0
      networkConfig:
        {{ lookup('template', 'nmstate.yaml.j2', template_vars={ 'bootMACAddress': hostvars[host].bootMACAddress }) | from_yaml | to_nice_yaml(2) | indent(8) }}
{%   endif %}
{% endfor %}
pullSecret: {{ lookup('file', 'pull-secret-okd.json') | to_nice_json }}
{% if mirror_registry_ca is defined %}
additionalTrustBundle: |
  {{ mirror_registry_ca | indent(2) }}
imageContentSources:
- source: quay.io/openshift/okd
  mirrors:
  - {{ mirror_registry_fqdn }}:8443/openshift/okd
- source: quay.io/openshift/okd-content
  mirrors:
  - {{ mirror_registry_fqdn }}:8443/openshift/okd
{% endif %}
sshKey: '{{ ssh_key }}'
