# Keep this list sorted alphabetically by tld on domain

[[registry]]
prefix="public.ecr.aws"
location="mirror-registry.{{ cluster_name }}.{{ base_domain }}:8443/mirrors/public.ecr.aws"

[[registry]]
prefix="docker.elastic.co"
location="mirror-registry.{{ cluster_name }}.{{ base_domain }}:8443/mirrors/docker.elastic.co"

[[registry]]
prefix="registry.access.redhat.com"
location="mirror-registry.{{ cluster_name }}.{{ base_domain }}:8443/mirrors/registry.access.redhat.com"

[[registry]]
prefix="docker.io/library"
location="mirror-registry.{{ cluster_name }}.{{ base_domain }}:8443/mirrors/docker.io/library"

[[registry]]
prefix="docker.io"
location="mirror-registry.{{ cluster_name }}.{{ base_domain }}:8443/mirrors/docker.io"

[[registry]]
prefix="gcr.io"
location="mirror-registry.{{ cluster_name }}.{{ base_domain }}:8443/mirrors/gcr.io"

[[registry]]
prefix="ghcr.io"
location="mirror-registry.{{ cluster_name }}.{{ base_domain }}:8443/mirrors/ghcr.io"

# 2023-03-20 k8s.gcr.io => registry.k8s.io
[[registry]]
prefix="k8s.gcr.io"
location="mirror-registry.{{ cluster_name }}.{{ base_domain }}:8443/mirrors/registry.k8s.io"

[[registry]]
prefix="registry.k8s.io"
location="mirror-registry.{{ cluster_name }}.{{ base_domain }}:8443/mirrors/registry.k8s.io"

[[registry]]
prefix="quay.io"
location="mirror-registry.{{ cluster_name }}.{{ base_domain }}:8443/mirrors/quay.io"
