---
apiVersion: v1
kind: Pod
metadata:
  name: zabbix
spec:
  containers:
  - name: mysql
    image: docker.io/mariadb:{{ mysql_version | default('10.6.15') }}
    env:
    - { name: MYSQL_ROOT_PASSWORD, value: {{ mysql_password }} }
    ports:
    - { hostPort: 3306, containerPort: 3306, protocol: TCP }
    volumeMounts:
    - { name: zabbix-mysql-data, mountPath: "/var/lib/mysql" }

  - name: server
    image: docker.io/zabbix/zabbix-server-mysql:alpine-{{ zabbix_version | default('latest') }}
    env:
    - { name: MYSQL_ROOT_PASSWORD, value: {{ mysql_password }} }
    - { name: MYSQL_USER, value: zabbix }
    - { name: ZBX_CACHESIZE, value: 64M }
    ports:
    - { hostPort: 10051, containerPort: 10051, protocol: TCP }

  - name: web
    image: docker.io/zabbix/zabbix-web-nginx-mysql:alpine-{{ zabbix_version | default('latest') }}
    env:
    - { name: MYSQL_ROOT_PASSWORD, value: {{ mysql_password }} }
    - { name: MYSQL_USER, value: zabbix }
    - { name: PHP_TZ, value: "Europe/Oslo" }
    ports:
    - { hostPort: {{ zabbix_http_port | default('8080') }}, containerPort: 8080, protocol: TCP }
    #- { hostPort: {{ zabbix_https_port | default('8443') }}, containerPort: 8443, protocol: TCP }

  - name: agent
    image: docker.io/zabbix/zabbix-agent2:alpine-{{ zabbix_version | default('latest') }}
    env:
    - { name: ZBX_HOSTNAME, value: "Zabbix server" }
    - { name: ZBX_PASSIVE_ALLOW, value: false }
    - { name: ZBX_ACTIVE_ALLOW, value: true }
    #ports:
    #- { hostPort: 10050, containerPort: 10050, protocol: TCP }
    securityContext:
      allowPrivilegeEscalation: true

  hostAliases:
  - ip: 127.0.0.1
    hostnames:
    - mysql-server
    - zabbix-server
  volumes:
  - name: zabbix-mysql-data
    persistentVolumeClaim:
      claimName: zabbix-mysql-pvc
