{% set _db_info = {
  'mysql': {
    'image': "docker.io/mariadb:" ~ mysql_version | default('10.6'),
    'env': [
      { 'MYSQL_ROOT_PASSWORD': lookup('password', '~/.ansible/.zabbix_mysql_password') },
    ],
    'port': 3306,
    'mountPath': "/var/lib/mysql",
  },
  'pgsql': {
    'image': enable_timescaledb | default(false) | ternary(
        "docker.io/timescale/timescaledb:" ~ tsdb_version | default('latest-pg16'),
        "docker.io/postgres:" ~ pgsql_version | default('16')
    ),
    'env': [
      { 'POSTGRES_USER': "zabbix" },
      { 'POSTGRES_PASSWORD': lookup('password', '~/.ansible/.zabbix_pgsql_password') },
    ],
    'port': 5432,
    'mountPath': "/var/lib/postgresql/data",
  },
} %}
---
apiVersion: v1
kind: Pod
metadata:
  name: zabbix
spec:
  containers:
  - name: db
    image: "{{ _db_info[db_type].image }}"
    env:
{% for env in _db_info[db_type].env %}
{%   for key, value in env.items() %}
    - { name: {{ key }}, value: {{ value }} }
{%   endfor %}
{% endfor %}
    ports:
    - { hostPort: {{ _db_info[db_type].port }}, containerPort: {{ _db_info[db_type].port }}, protocol: TCP }
    volumeMounts:
    - { name: zabbix-sql-data, mountPath: "{{ _db_info[db_type].mountPath }}" }

  - name: server
    image: docker.io/zabbix/zabbix-server-{{ db_type }}:alpine-{{ zabbix_version | default('latest') }}
    env:
{% for env in _db_info[db_type].env %}
{%   for key, value in env.items() %}
    - { name: {{ key }}, value: {{ value }} }
{%   endfor %}
{% endfor %}
{% if enable_timescaledb %}
    - { name: ENABLE_TIMESCALEDB, value: true }
{% endif %}
    - { name: ZBX_CACHESIZE, value: 64M }
{%  if zabbix_server_tls_key is defined and
       zabbix_server_tls_cert is defined and
       zabbix_server_tls_ca is defined %}
    - { name: ZBX_TLSCAFILE, value: zabbix-ca.crt }
    - { name: ZBX_TLSCERTFILE, value: zabbix-server.crt }
    - { name: ZBX_TLSKEYFILE, value: zabbix-server.key }
{% endif %}
    ports:
    - { hostPort: 10051, containerPort: 10051, protocol: TCP }
{%  if zabbix_server_tls_key is defined and
       zabbix_server_tls_cert is defined and
       zabbix_server_tls_ca is defined %}
    volumeMounts:
    - { name: zabbix-server-tls, mountPath: "/var/lib/zabbix/enc:ro" }
{% endif %}

  - name: web
    image: docker.io/zabbix/zabbix-web-nginx-{{ db_type }}:alpine-{{ zabbix_version | default('latest') }}
    env:
{% for env in _db_info[db_type].env %}
{%   for key, value in env.items() %}
    - { name: {{ key }}, value: {{ value }} }
{%   endfor %}
{% endfor %}
    - { name: PHP_TZ, value: "Europe/Oslo" }
    ports:
    - { hostPort: {{ zabbix_http_port | default('8080') }}, containerPort: 8080, protocol: TCP }
{%  if zabbix_web_ssl_key is defined and zabbix_web_ssl_cert is defined %}
    - { hostPort: {{ zabbix_https_port | default('8443') }}, containerPort: 8443, protocol: TCP }
    volumeMounts:
    - { name: zabbix-web-ssl, mountPath: "/etc/ssl/nginx" }
{% endif %}

  - name: agent
    image: docker.io/zabbix/zabbix-agent2:alpine-{{ zabbix_version | default('latest') }}
    env:
    - { name: ZBX_HOSTNAME, value: "Zabbix server" }
    #- { name: ZBX_PASSIVE_ALLOW, value: false }
    - { name: ZBX_ACTIVE_ALLOW, value: true }
{% if zabbix_server_tls_key is defined and
      zabbix_server_tls_cert is defined and
      zabbix_server_tls_ca is defined %}
    - { name: ZBX_TLSCONNECT, value: cert }
    - { name: ZBX_TLSCAFILE, value: zabbix-ca.crt }
    - { name: ZBX_TLSCERTFILE, value: zabbix-server.crt }
    - { name: ZBX_TLSKEYFILE, value: zabbix-server.key }
    ports:
    - { hostPort: 10050, containerPort: 10050, protocol: TCP }
{% endif %}
    securityContext:
      allowPrivilegeEscalation: true
    volumeMounts:
    - { name: proc, mountPath: /hostfs/proc, readOnly: true }
    - { name: sys, mountPath: /hostfs/sys, readOnly: true }
    - { name: root, mountPath: /hostfs/root, readOnly: true, mountPropagation: HostToContainer }
{%  if zabbix_server_tls_key is defined and
       zabbix_server_tls_cert is defined and
       zabbix_server_tls_ca is defined %}
    - { name: zabbix-server-tls, mountPath: "/var/lib/zabbix/enc:ro" }
{% endif %}

  hostAliases:
  - ip: 127.0.0.1
    hostnames:
    - mysql-server
    - postgres-server
    - zabbix-server
  - ip: 172.28.4.5
    hostnames:
    - mirror-registry.openshift-utv.uio.no

  volumes:
  - name: zabbix-sql-data
    persistentVolumeClaim:
      claimName: zabbix-sql-pvc
{%  if zabbix_server_tls_key is defined and
       zabbix_server_tls_cert is defined and
       zabbix_server_tls_ca is defined %}
  - name: zabbix-server-tls
    secret:
      secretName: zabbix-server-tls
      optional: false
{% endif %}
{%  if zabbix_web_ssl_key is defined and
       zabbix_web_ssl_cert is defined %}
  - name: zabbix-web-ssl
    secret:
      secretName: zabbix-web-ssl
      optional: false
{% endif %}
  - name: proc
    hostPath:
      path: /proc
  - name: sys
    hostPath:
      path: /sys
  - name: root
    hostPath:
      path: /
