{%  if zabbix_server_tls_key is defined and
       zabbix_server_tls_cert is defined and
       zabbix_server_tls_ca is defined %}
---
apiVersion: v1
kind: Secret
metadata:
  name: zabbix-server-tls
type: Opaque
data:
  zabbix-ca.crt: {{ (zabbix_server_tls_intermediate | default('') ~ zabbix_server_tls_ca) | b64encode }}
  zabbix-server.crt: {{ zabbix_server_tls_cert | b64encode }}
  zabbix-server.key: {{ zabbix_server_tls_key | b64encode }}
{% endif %}
{%  if zabbix_web_ssl_key is defined and zabbix_web_ssl_cert is defined %}
---
apiVersion: v1
kind: Secret
metadata:
  name: zabbix-web-ssl
type: Opaque
data:
  ssl.crt: {{ zabbix_web_ssl_cert | b64encode }}
  ssl.key: {{ zabbix_web_ssl_key | b64encode }}
  dhparam.pem: {{ _dhparam_pem.dhparams | b64encode }}
{% endif %}
---
apiVersion: v1
kind: Pod
metadata:
  name: zabbix
spec:
  containers:
  - name: mysql
    image: docker.io/mariadb:{{ mysql_version | default('10.6.15') }}
    env:
    - { name: MYSQL_ROOT_PASSWORD, value: {{ mysql_password }} }
    ports:
    - { hostPort: 3306, containerPort: 3306, protocol: TCP }
    volumeMounts:
    - { name: zabbix-mysql-data, mountPath: "/var/lib/mysql" }

  - name: server
    image: docker.io/zabbix/zabbix-server-mysql:alpine-{{ zabbix_version | default('latest') }}
    env:
    - { name: MYSQL_ROOT_PASSWORD, value: {{ mysql_password }} }
    - { name: MYSQL_USER, value: zabbix }
    - { name: ZBX_CACHESIZE, value: 64M }
{%  if zabbix_server_tls_key is defined and
       zabbix_server_tls_cert is defined and
       zabbix_server_tls_ca is defined %}
    - { name: ZBX_TLSCAFILE, value: zabbix-ca.crt }
    - { name: ZBX_TLSCERTFILE, value: zabbix-server.crt }
    - { name: ZBX_TLSKEYFILE, value: zabbix-server.key }
{% endif %}
    ports:
    - { hostPort: 10051, containerPort: 10051, protocol: TCP }
{%  if zabbix_server_tls_key is defined and
       zabbix_server_tls_cert is defined and
       zabbix_server_tls_ca is defined %}
    volumeMounts:
    - { name: zabbix-server-tls, mountPath: "/var/lib/zabbix/enc:ro" }
{% endif %}

  - name: web
    image: docker.io/zabbix/zabbix-web-nginx-mysql:alpine-{{ zabbix_version | default('latest') }}
    env:
    - { name: MYSQL_ROOT_PASSWORD, value: {{ mysql_password }} }
    - { name: MYSQL_USER, value: zabbix }
    - { name: PHP_TZ, value: "Europe/Oslo" }
    ports:
    - { hostPort: {{ zabbix_http_port | default('8080') }}, containerPort: 8080, protocol: TCP }
{%  if zabbix_web_ssl_key is defined and zabbix_web_ssl_cert is defined %}
    - { hostPort: {{ zabbix_https_port | default('8443') }}, containerPort: 8443, protocol: TCP }
    volumeMounts:
    - { name: zabbix-web-ssl, mountPath: "/etc/ssl/nginx" }
{% endif %}

  - name: agent
    image: docker.io/zabbix/zabbix-agent2:alpine-{{ zabbix_version | default('latest') }}
    env:
    - { name: ZBX_HOSTNAME, value: "Zabbix server" }
    - { name: ZBX_PASSIVE_ALLOW, value: false }
    - { name: ZBX_ACTIVE_ALLOW, value: true }
{% if zabbix_server_tls_key is defined and
      zabbix_server_tls_cert is defined and
      zabbix_server_tls_ca is defined %}
    - { name: ZBX_TLSCONNECT, value: cert }
    - { name: ZBX_TLSCAFILE, value: zabbix-ca.crt }
    - { name: ZBX_TLSCERTFILE, value: zabbix-server.crt }
    - { name: ZBX_TLSKEYFILE, value: zabbix-server.key }
{% endif %}
    securityContext:
      allowPrivilegeEscalation: true
{%  if zabbix_server_tls_key is defined and
       zabbix_server_tls_cert is defined and
       zabbix_server_tls_ca is defined %}
    volumeMounts:
    - { name: zabbix-server-tls, mountPath: "/var/lib/zabbix/enc:ro" }
{% endif %}

  hostAliases:
  - ip: 127.0.0.1
    hostnames:
    - mysql-server
    - zabbix-server
  volumes:
  - name: zabbix-mysql-data
    persistentVolumeClaim:
      claimName: zabbix-mysql-pvc
{%  if zabbix_server_tls_key is defined and
       zabbix_server_tls_cert is defined and
       zabbix_server_tls_ca is defined %}
  - name: zabbix-server-tls
    secret:
      secretName: zabbix-server-tls
      optional: false
{% endif %}
{%  if zabbix_web_ssl_key is defined and
       zabbix_web_ssl_cert is defined %}
  - name: zabbix-web-ssl
    secret:
      secretName: zabbix-web-ssl
      optional: false
{% endif %}
