---
apiVersion: v1
kind: Pod
metadata:
  namespace: argocd
  name: argocd-bootstrap
spec:
  nodeSelector:
    node-role.kubernetes.io/master: ""
  tolerations:
  - key: node-role.kubernetes.io/master
    operator: Exists
    effect: NoSchedule
  containers:
  - name: cli
    image: quay.io/openshift/origin-cli:{{ openshift_install_version }}
    command:
    - "bash"
    - "-c"
    - |
      until oc apply -f /manifests
      do
        sleep 10
      done
    volumeMounts:
    - name: manifests
      mountPath: /manifests
  serviceAccount: argocd-bootstrapper
  restartPolicy: OnFailure
  volumes:
  - name: manifests
    configMap:
      name: argocd-bootstrap-manifests
