[Service]
ExecStart=
ExecStart=/usr/local/bin/certbot renew --noninteractive --authenticator {{ certbot_authenticator }}{% if certbot_deploy_hook %} --deploy-hook "{{ certbot_deploy_hook }}"{% endif %}
